.container{
	margin: auto;
	width: 800px;
	height: 700px;
}
h1{
	text-align: center;
	color: #3333cc;
}
.tabs{
	list-style: none;
	margin-bottom: 10px;
}
.tabs li{
	background-color: #FFFFFF;
	color: #3333ff;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: 18px;
	padding: 10px;
	margin-top:10px; 
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 50px;
    border: 1px solid #3333FF;
}
.tabs li:hover{
			cursor: pointer;
			background-color: #3333FF;
			color: #FFFFFF;
			text-align: center;
			font-family: 'Comfortaa', cursive;
			font-size: 18px;
			padding: 10px;
			margin-top:10px; 
			margin-left: 20px;
			margin-right: 20px;
			border-radius: 50px;
		    border: 1px solid #3333FF;
		}
#show a,#show_database a{
	color: #000000;
}
a{
	text-decoration: none;
	color: #000000;
}
.header{
	font-family: 'Comfortaa', cursive;
}
.requests {
	 list-style: none;
	 display: inline;

}
.requests li{
	display: inline;
	padding-right: 10px;
}
#username{
	width: 400px;
}
.row{
	width: 900px;
	height: 40px;
}
.col{
	margin:0;
	margin-left: 10px;
	margin-right: 10px;
	width: 400px;
	height: 40px;
	
}
.text_field{
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
	width: 200px;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 5px;
	margin-left: 0;
	float: left;
	color: #3333ff;
}
.banner{
	background-color: #696969;
	width: 100%;
	height: 18px;
	margin:0;
	padding: 0;
		}
p{
	margin: 0;
	color: #ffffff;
}